.gradle/
build/
out/

*/build/
*/out/
*/run/
*/runs/
run/
runs/

*.class
*.log
hs_err_pid*
replay_pid*

.idea/
*.iml
*.ipr
*.iws
.vscode/

repo/
libs/

*.jar
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat